@model HalloWeb.Models.Klopapier

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Klopapier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AnzahlBlatt" class="control-label"></label>
                <input asp-for="AnzahlBlatt" class="form-control" />
                <span asp-validation-for="AnzahlBlatt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hersteller" class="control-label"></label>
                <input asp-for="Hersteller" class="form-control" />
                <span asp-validation-for="Hersteller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produkt" class="control-label"></label>
                <input asp-for="Produkt" class="form-control" />
                <span asp-validation-for="Produkt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Langen" class="control-label"></label>
                <input asp-for="Langen" class="form-control" />
                <span asp-validation-for="Langen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duft" class="control-label"></label>
                <input asp-for="Duft" class="form-control" />
                <span asp-validation-for="Duft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
